<%inherit file="app_base.html" />

<%block name="content">
</%block>

<%block name="topContent">
    <h1>About</h1>
</%block>

<%block name="subTopContent">
    <p>The Family Oriented Music Organization is a family
        owned music store that’s been operating in Utah Valley since
        1952. They have been profitable but are always looking for ways
        to improve their business. Their in-store point-of-sale system is
        starting to show its age, so the FOMO owners are looking into a
        web-based system. They are seeking proposals from software developers.</p>
</%block>
