<%inherit file="app_base.html" />

<%block name="content">
</%block>

<%block name="topContent">
    <h1>About</h1>
</%block>

<%block name="subTopContent">
    <p>The Family Oriented Music Organization is a family
        owned music store that’s been operating in Utah Valley since
        1952. They have been profitable but are always looking for ways
        to improve their business. Their in-store point-of-sale system is
        starting to show its age, so the FOMO owners are looking into a
        web-based system. They are seeking proposals from software developers.</p>

<br><p>We have added contrasting text to this site to make it easier to read,
even for those who may have trouble seeing. You may also navigate the site with only
the tab key on your keyboard and the enter key to select. Please contact us if there
are any issues in using the site. Thank you!</p>
</%block>
