## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>Family Oriented Music Organization</title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap.css"/>
        <link rel="icon" href="${ STATIC_URL }homepage/media/cello.jpg"/>

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

    </head>
    <body>
        <p id="maintenanceMessage">
            <%block name="maintenanceMessage">
                ~Site under construction~
            </%block>
        </p>

        <%block name="menu">
            Nav bar goes here
        </%block>

        <main>
            <div class="row">
                <div class="jumbotron" id="homepageJumbo">
                    <%block name="topContent"></%block>
                </div>
            </div>

            <div class="row">
                <%block name="subTopContent"></%block>
            </div>

            <div id="leftCol" class="col-md-4">
                <%block name="content_left"></%block>
            </div>

            <div id="midCol" class="col-md-4">
                <%block name="content_middle"></%block>
            </div>

            <div id="rightCol" class="col-md-4">
                <%block name="content_right"></%block>
            </div>
        </main>


        <form action="/contact/" method="post">
            <%block name="contactForm">

            </%block>
        </form>

        <footer>
            <%block name="footer">
                <%! from datetime import datetime %>
                &copy; Copyright ${ datetime.now().year }. All rights reserved.
            </%block>
        </footer>
    </body>
</html>


