<%inherit file="app_base.html" />

<%block name="content">
</%block>

<%block name="topContent">
    <h1>Family Oriented Music Organization</h1>
</%block>

<%block name="subTopContent">
    <h2>See our best deals in music instrument rentals</h2>
<button class="btn btn-primary" id="rentalButton"><a href="catalog/">View Products</a></button>
</%block>

<%block name="content_left">
    <h3>Top Quality</h3>
    <p>We have the best quality instruments you can find. All instruments are maintained by
    a crew of professionals after each rental.</p>
</%block>

<%block name="content_middle">
    <h3>Great Selection</h3>
    <p>Whether you want to start rocking in a band, or contributing to the grandeour of a symphony,
    we have the instrument for you. Everything from strings to brass to percussion, we have you covered.</p>
</%block>

<%block name="content_right">
    <h3>Best Prices</h3>
    <p>At the great quality products we own, you can't beat our prices.</p>
    <button class="btn btn-primary" id="rentalButton">Check out the prices!</button>
</%block>

<%block name="footer">
</%block>

